.btn {
    background-color: #05728f;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    &__login {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        margin: .5rem 0;
    }
    &__send-circle {
        border-radius: 100%;
        padding: .75rem;
        text-align: center;
    }
}